<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Choose</ion-title>
  </ion-navbar>
</ion-header>

<ion-content parallax-header no-bounce class="bg-modal">
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <hr>
    <ion-list>
      <ion-item *ngFor="let d of scheduleData; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
        <div>
          {{d.departure}} {{d.fare}} 
          <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" item-end></ion-icon>
        </div>
        <div *ngIf="isGroupShown(i)">Choose Seats Between 2 and 16 but not in  {{d.seat}} </div>
      </ion-item>
    </ion-list>

    <h2>Booking Info</h2>
    <hr>
    <a href="#" button ion-button block color="danger" icon-start>
      <ion-icon name='cash'></ion-icon>
      InterSwitch Webpay
    </a>
    <a href="#" button ion-button block color="energy" icon-start>
      <ion-icon name='cash'></ion-icon>
      Flutterwave Rave
    </a>
  </div>

</ion-content>