<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Support</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)" color="primary">
      {{item.title}}
    </button>
  </ion-list>

  <h2>FAQs:</h2>
  <ion-list>
    <ion-item *ngFor="let d of accordions; let i=index" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
      <div>
        {{d.name}}
        <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'" item-end></ion-icon>
      </div>
      <div *ngIf="isGroupShown(i)">{{d.description}}</div>
    </ion-item>
  </ion-list>

</ion-content>