<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Support</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      {{item.title}}
    </button>
  </ion-list>

  <h4>FAQs:</h4>
  <ion-item *ngFor="let accordion of accordions; let i = index" [title]="accordion.name" textColor="#DDD" hasMargin="false" headerColor="#F53D3D" text-wrap (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">
    <div *ngIf="isGroupShown(i)">
      <img [src]="accordion.imageUrl">
      <p text-wrap>{{accordion.description}}</p>
    </div>
  </ion-item>

</ion-content>